.idea/
../.idea/
.DS_Store
*.pyc
tests/artifacts
tests/load_test_stats*
/venv/
coverage.xml
pytest-report.xml
/local_debug/*
get-pip.py
../.idea/vcs.xml
*/.coverage
*/.scannerwork/*
*/.pytest_cache/*
Python/.env
.coverage